* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.pagina {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: fixed;
    font-family: sans-serif;
}
.container {
    box-align: center;
    text-align: center;
    width: 100%;
    height: 5%;
    background: #03453d;
}
.menu ul {
    display: inline-flex;
}
.menu ul li {
    height: 150%;
    width: 150%;
    padding: 2%;
    list-style: none;
    margin-top: 0%;
    text-align-last: center;
    margin-bottom: 1%;
    color: #d6ce8b;
    cursor: pointer;
}
a {
    color: #d6ce8b;
    text-underline-offset: 5000000000000px;
}
.font-size-control {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    font-size: 500%;
}
.logotipo img {
    vertical-align: sub;
    width: 3%;
    height: 3%;
    margin-top: 2%;
    margin-right: 10%;
}
.active {
    color: #8fd053 !important;
}
.botao-de-cadastro {
    top: 4%;
    right: 8%;
    position: absolute;
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#1b325f, #001f36), radial-gradient(circle at top left, #2c1001, #8fd053);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.botao-de-cadastro span {
    padding: 7px 20px;
    display: block;
}
.bannerDoSite {
    color: #d6ce8b;
    position: relative;
    width: 80%;
    height: 70%;
}
.stock-value {
    z-index: -1;
    width: 125%;
    height: 109%;
    overflow: hidden;
    position: fixed;
}
.contain-er {
    display: inline-block;
    position: relative;
}
figcaption {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
    color: black;
    text-shadow: 0px 0px 5px black;
}
.textoGeral {
    width: 50%;
}
.textoGeral h1 {
    width: 650px;
    position: relative;
    color: whitesmoke;
    font-size: 63px;
    margin-left: 40px;
}
.textoGeral h2 {
    width: 650px;
    position: relative;
    color: white;
    font-size: 33px;
    margin-left: 40px;
}
.textoGeral p {
    width: 650px;
    line-height: 35px;
    font-size: 35px;
    margin: 30px 0 30px 40px;
    color: orange;
}
.botao-comecar {
    margin-left: 40px;
    display: inline-flex;
}
.botao-comecar-interno {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#1b325f, #001f36), radial-gradient(circle at top left, #2c1001, #8fd053);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    cursor: pointer;
}
.botao-comecar-interno .fa {
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #9cc4e4;
    letter-spacing: 3px;
}
.imagem-do-site {
    z-index: 1;
    height: 200px;
    margin-top: 10%;
    margin-left: 215%;
    display: inline-block;
    top: 200%
}
.imagem-intranet {
    width: auto;
    max-height: 100%;
}
#linkscurtos {
    right: 0;
    bottom: 0;
    position: fixed;
    background: linear-gradient(to right, #f04949, #03453d);
}
#linkscurtos ul{
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}
#linkscurtos ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
#linkscurtos ul li .fa{
    font-size: 25px;
    color: whitesmoke;
}
#linkscurtos ul li p{
    margin-top: 15px;
    font-size: 80%;
    color: whitesmoke
}
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}